body {
  padding-top: 50px;
  /* background-color: #43BDE6; */
  background-image: url(../img/poster.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.navbar {
  background-color: rgba(10, 10, 10, 0.6);
  border-bottom: 1px solid rgba(100, 100, 100, 1);
}

.navbar-default .navbar-brand {
  color: whitesmoke;
}

#sidebar {
  height: 100%;
  outline: none;
  background-color:transparent;
  position: fixed;
  border-right: 2px solid black;
}
.content{
  margin: 0px 0px 0px 0px!important;
}
#main {
  background-color:transparent;
  overflow-y: auto;
  padding-bottom: 50px;
  margin-top: 15px!important;
  min-height: 100%;
}

footer {
  color: whitesmoke;
  background-color: rgba(10, 10, 10, 1);
  position: fixed;
  border-top: 1px solid rgba(100, 100, 100, 1);
}

.navbar-default {
  margin-bottom: 0px;
}

.container-fluid {
  min-height: 100%;
  min-width: 100%;
  /* position: absolute; */
  display: inline-block;
  /* overflow-y: scroll; */
}
.btn-primary{
  margin-top: 20px!important;
  text-align: center;
}
.well{
  background-color: rgba(240, 240, 240, 0.2)!important;
  border: 0px ;
}
.pd{
  padding-top: 8px;
  padding-bottom: 8px;
}